altair
attrs
bcrypt
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
pillow
protobuf
pydeck
pyarrow
Pygments
pyparsing=
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
urllib3
watchdog
plotly
seaborn

